	<div class="center">
		<h1>Quiz 1</h1>
		<h3>by T.M. Zinser</h3>
	</div>
	<br/>
	<hr/>
	<br/>
	<div>
		<p>Establish a static page for submitting Quiz 1 from Firehose Week 1.  Content should include a headline
			on the page that is a non-black color.  This quiz leads me to find that a database is expected when creating 
			an application in RoR.  My initial thought was to create this without using the --database= property, but soon discovered the creation process was looking for the sql database.  Apparently you can modify the environment.rb file to comment the config.framework value, will have to experiment later.   </p>
	</div>
	<div>
		<p> Quiz 2: Establish model and database: </p>
		<div class="center">
			<h2>Quiz Participant List</h2>
			<% @quizzes.each do |quiz| %>
				<p class="list"><%= quiz.lastname %>, <%= quiz.firstname %></p>
			<% end %>
		</div>
		<%= link_to 'Add new quiz participant', new_quiz_path %>
	</div>