// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	font-family: sans-serif;
}

h1, h2 {
	color: blue;
}

h3 {
	color: rgba(0,0,255,.2);
}

p {
	padding: 25px 0 0 25px;
}

.list {
	padding: 0;
}

.center {
	text-align: center;
}